body {
    background-color: #f51722;
  }

main {
    width: 100%;
}

h1 {
    display: block;
    text-align: center;
    font-family: cursive;
    color: white;
    font-size: 2.5em;
}

#options {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    
}

button {
    text-align: center;
    border-color: lavender;
    margin: 0px 5px 20px 5px;
    height: 35px;
    width: 130px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #2a2c2e;
    border-radius: 4px;
    background-color: rgb(241, 241, 241);
}

#reset {
   width: 100px; 
}

div.row {
    display: grid;
    width: 3.125%;
    height: 100%;
}

div.gridsquare {
    position: relative;
    background-color: white;
    border-style: dotted;
    border-width: .005em;
    border-color: #b3b3b3;
    width: 100%;
    height: 100%;
}

.dropdown {
    width: 60px;
    height: 35px;
    border-radius: 4px;
    font-family: arial, sans-serif;
    font-size: 14px;
}

label {
    font-family: arial, sans-serif;
    color: white;
    font-size: 1em;
    padding-right: 10px; 
    width: 60px;
    height: 35px;
    border-radius: 4px;
}

#penColor {
    width: 100px;
    height: 35px;
    border-radius: 4px;
    margin-right: 20px;
}

#clickMode {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    transform: translateY(20%);
}

div#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2px;
    margin-top: 20px;
    border: solid;
    border-width: .2em;
    border-color: #2a2c2e;
}